global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1m 
  receiver: 'webhook'
  routes:
    - receiver: 'betterstack'
      continue: true

receivers:
  - name: betterstack
    webhook_configs:
      - url: 'https://uptime.betterstack.com/api/v1/prometheus/webhook/3xVqscKbTEGmeFU2sy69L7wz'
        send_resolved: true
  - name: 'webhook'
    webhook_configs:
      - url: 'http://localhost:5001/'
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
